.expense-item {
  background-color: #444;
  display: grid;
  grid-template-columns: 128px 1fr 96px;
  align-items: center;
  gap: 2%;
  padding: 1rem;
}

.expense-item--description {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.expense-item--title {
  font-size: 32px;
  margin: 20px 0;
  color: #fff;
}
.expense-item--price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #1d0256;
  padding: 12px 36px;
  border: 3px solid#fff;
  border-radius: 24px;
}
