.expense-item {
  background-color: #444;
  display: grid;
  grid-template-columns: auto 4fr;
  align-items: center;
  gap: 2%;
  padding: 20px 30px;
}

.expense-item--description {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.expense-item--title {
  font-size: 56px;
  margin: 20px 0;
  color: #fff;
}
.expense-item--price {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  background-color: #220f57;
  padding: 21px 59px;
  border: 3px solid#fff;
  border-radius: 24px;
}
